<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <span><%= blog.created.toDateString() %></span>
    <div class="ui top attached">
        <div class="item">
            <br><br>
            <img class="ui centered big image" src="<%= blog.image %>">
            <br><br>
            <div class="description" id="blog-description">
                <p><%- blog.body %></p>
            </div>
            <br><br>
            <a href="/blogs/<%= blog._id %>/edit" class="ui inverted primary big button">Edit</a>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" id="delete">
                <button type="submit" class="ui inverted red big button">Delete</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>